﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master.Master" AutoEventWireup="true" CodeBehind="MostrarSucursales.aspx.cs" Inherits="Portal.Modulos.Mantencion.MostrarSucursales" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <div align="center"> 
        <asp:GridView ID="gvDatos" runat="server"></asp:GridView>
    </div>
</asp:Content>
