﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master.Master" AutoEventWireup="true" CodeBehind="Principal.aspx.cs" Inherits="Portal.Principal" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <link href="Content/css/test.css" rel="stylesheet" />
    <div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">¡Bienvenidos!</h1>
	               		<hr />
	               	</div>
	            </div> 

     <div id="imageWrapper">
        <img id="backimage" src="images/battlefield1.jpg" align="center"/><img id="frontImage" src="images/gof.jpg" align="center"/>
    </div>
    <%--<img src="images/battlefield1.jpg" style="width:50%" />--%>
</asp:Content>
