﻿/*
#body {font-family: sans-serif;  font-size: 14px; background-color:#212121; width:100%;
    background-image:url("../../images/unnamed.png");
  
    background-repeat:inherit;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-color:#0094ff;
     width: 100%;
      }
*/
#navlist { padding: 3px 0px;
border-bottom: 1px solid #778;
font: bold 16px Verdana, sans-serif; }

#navlist li { list-style: none; display: inline; margin-left:10px; text-align:center;}

#navlist li a { padding: 3px 1em;
border: 1px solid #778; border-bottom: none;
background: #DDE; text-decoration: none; }

#navlist li a:link { color: #448; }
#navlist li a:hover {color: #000; background: #AAE; border-color: #227; }
#navlist li a#current { background: #AAE; }

#contenedor {
  width: 100%;
  margin: 0 auto;
  background-image: url(../../images/banner.jpg);
  background-repeat:no-repeat;
  height:100px;
  text-align:center;
}

#Principal {
   background-color:#8B4513;
   width:100%; height:100%;
}
 

 div#copyright
        {
            font: 11px 'Trebuchet MS';
            color: #222;
            text-indent: 30px;
            padding: 40px 0 0 0;
        }
        div#copyright a
        {
            color: #000;
        }
        div#copyright a:hover
        {
            color: #222;
        }
          div#usuario
        {
            font: 11px 'Trebuchet MS';
            color: red;
            padding: 0 30px 0 0;
            text-align: right;
        }

#Login{ list-style: none; display: inline; margin-left:10px; text-align:center;}
