﻿.topContent{
    text-align:left;
    background-color: #ffd800;
    color:white;
    font-size:x-large;
    text-decoration: none;
    font-weight:bold;
    padding: 10px;
    height: 50px;
}
 .center {
            margin: auto;
            width:60%;
            text-align:center;
            padding: 15px;
            height: 60px;
}

.img {
    display: block;
    margin: auto;
    width: 40%;
}

.cabecera {
    height: 150px;
    background-color:#FF7800;
    color: white;
    border: 1px dashed #A64E06;
    box-shadow: 0px 0px 10px #000;
}

/*
#body {
    background-image:url("../../images/unnamed.png");
  
    background-repeat:inherit;
    background-attachment:fixed;
    background-repeat:repeat;
    background-color:#0094ff;
     width: 100%;
}

*/


.SubTitulos
{
    color: #00569A;
    font: 14px Arial, Verdana,Helvetica, sans-serif;
    font-weight: bold;
    margin: 6px 0 6px 6px;
    text-transform: none;
	text-decoration: none;
	
}

.div-align{

    position: absolute;
  top:  50px; 
  left: 600px;
    height: 425px;
    width: 337px;
}

.float-right {
    float: right;
}

.Contenido
{
	border-style: solid;
	border-width: 1px;
	border-color: #017DC7;
}


.test_contenedor {
  width: 70%;
  margin: 0 auto;
}

.button
{
	border-style: none;
    border-color: inherit;
    border-width: medium;
    padding: 5px;
    color: #FFFFFF;
	    font-size: 12px;
	    font-family: Calibri;
	    text-decoration: none;
	    vertical-align: middle;
	    border-radius: 8px;
	    -moz-border-radius: 8px;
	    -webkit-border-radius: 8px;
	    background-color: #017DC7;
    height: 28px;
}


.clsMandatorio
{
    border: 1px solid #0000FF;
    margin: 1px 1px 1px 2px;
    padding: 0px 0px;
    font: 12px "Trebuchet MS" , "Lucida Grande" , "Bitstream Vera Sans" , Arial, Helvetica, sans-serif;
    background-color: #CCFFFF;
    color: #0000FF;
    cursor: text;
}

.clsDisabled
{
    border: 1px solid #CC3300;
    margin: 1px 1px 1px 2px;
	padding: 0px 0px;
	font: 12px Calibri;
	background-color: #DFDFDF;
	color: #CC3300;
    margin-bottom: 0;
}
