﻿body {
}
#imageWrapper {
    display: inline-block;
    width: 527px;
    height: 267px;
    box-shadow: 2px 2px 5px 0px gray;
    position: relative;
    top: 0px;
    left: 79px;
}
#imageWrapper img {
    width: 728px;
    height: 267px;
    position: absolute;
    transition-property: opacity;
    transition-duration: 2s;
    transition-timing-function: linear;
    left: -180px;
    top: 2px;
}
#imageWrapper #frontImage, #imageWrapper:hover #backImage {
    opacity: 1;
}
#imageWrapper:hover #frontImage, #imageWrapper #backImage {
    opacity: 0;
}
